option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: towfood2.wsgi:application
  aws:elasticbeanstalk:application:environment:
    LD_LIBRARY_PATH: "/usr/local/lib"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /dist: theme/static/css/dist
    /static: /static
    /static_src: theme/static_src
