{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="flex flex-col space-y-7">
  <!-- Heading -->
  <div class="flex justify-center align-middle text-3xl font-bold pt-3 space-x-2">
    <h1>Towcester</h1>
  </div>
  <!-- Content -->
  <div class="flex justify-center">
    <!-- Stock Card -->
    <div class="card card-side bg-base-200 shadow-2xl w-96 flex justify-center cursor-pointer" onclick="location.href = '/total_stock'">
      <div class="h-44 w-48 pl-5">
        <canvas id="stockPie"></canvas>
      </div>
      <div class="card-body align-middle items-center">
        <h3 class="card-title">Total Stock</h3>
        <p class="card-text text-4xl font-bold">{{ total_weight_in }}g</p>
      </div>
    </div>
  </div>
    <!-- Info Cards -->
    <div class="flex justify-center space-x-7">
      <div class="card bg-base-200 shadow-2xl w-44 flex justify-center">
        <div class="card-body items-center">
          <h3 class="card-title">Members</h3>
          <p class="card-text text-4xl font-bold">450</p>
        </div>
      </div>
      <div class="card bg-base-200 shadow-2xl w-44 flex justify-center">
        <div class="card-body flex items-center">
          <h3 class="card-title">Volunteers</h3>
          <p class="card-text text-4xl font-bold">450</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="indicator">
        <span class="indicator-item badge badge-secondary">5</span> 
        <div class="card  bg-base-200 shadow-2xl w-96 flex justify-center">
          <div class="card-body align-middle">
            <h3 class="card-title">Stock Warnings</h3>
            <ul id="stock-warnings">
              <li>Potatos</li>
              <li>Beans</li>
              <li>Cheese</li>
              <li>Bacon</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}