{% load tailwind_tags %}
{% load tailwind_filters %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <link rel="stylesheet" href="{% static 'myCSS.css' %}">
  </head>
  <body>
    {% block content %} {% endblock %}
    <script src="{% static 'myJS.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <script src="{% static 'Quagga.js' %}" defer></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.min.js"></script>
  </body>
  <!-- Bottom Nav -->
  <div class="btm-nav bg-base-200 z-50">
    <button onclick="location.href = '/'" class="{% if nbar == 'home' %}active{% endif %}">
      <i class="fa-solid fa-house"></i>
    </button>
    <button onclick="location.href = '/stock'" class="{% if nbar == 'stock' or nbar == 'scan_in' or nbar == 'scan_out' %}active{% endif %}">
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
    <button onclick="location.href = '/people'" class="{% if nbar == 'people' or nbar == 'members' or nbar == 'add_member' %}active{% endif %}">
      <i class="fa-solid fa-users"></i>
    </button>
    <button onclick="location.href = '/reports'" class="{% if nbar == 'reports' %}active{% endif %}">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</html>
