{% extends "layout.html" %}
{% block title %}
Stock out
{% endblock %}
{% block content %}
<!-- {% load tailwind_filters %} -->
<div class="flex flex-col space-y-10">
  <!-- Heading -->
  <div class="flex justify-center align-middle text-3xl font-bold pt-3 space-x-2">
    <h1>Towcester</h1>
  </div>
  <!-- Content -->
  <div class="flex justify-center">
    <!-- Image Preview -->
    <div class="card bg-base-200 shadow-2xl w-96 flex justify-center">
      <div id="interactive" class="viewport">
          <canvas class="drawingBuffer w-96 absolute inset-0 z-20"></canvas>
          <video class="relative z-10 rounded-2xl" autoplay="true" preload="auto" src="" muted="true" playsinline="true"></video>
      </div>
    </div>
  </div>
    <!-- Info Cards -->
  <div class="">
    <div class="flex justify-center space-x-7">
      <div class="card bg-base-200 shadow-2xl w-96 flex flex-row justify-center items-center pb-4 px-2">
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="card-title">Barcode Lookup</span>
          </label>
            <form id="barcode_lookup" action="" onSubmit="test1()">
              <div class="flex flex-row items-center space-x-4">
                <input id="barcode_search" type="number" placeholder="Enter EAN" class="input input-bordered w-full max-w-xs" />
                <i id="mg_glass" class="fa-solid fa-magnifying-glass fa-lg cursor-pointer" onclick="LocalBarcodeLookup()"></i>
                <!-- <i class="fa-solid fa-cart-plus fa-lg cursor-pointer" onclick="HTMLFormElement.prototype.submit.call($('#addProduct')[0])"></i> -->
              </div>
            </form>
            <form method="POST" action="/scan_out/">
              
              <div class="flex flex-col px-7 py-2 form-control">
                {% csrf_token %}
                {{ p2_form|crispy }}
                
                <button type="submit" value="submit" class="btn btn-primary mt-4">Add to Pickup                 
                  <i class="fa-solid fa-cart-plus cursor-pointer pl-2"></i>
                </button>
              </div>  
            </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Stock Info Cards -->
  <div class="flex justify-center space-x-7">
    <div class="card overflow-x-auto bg-base-200 shadow-2xl w-96 pb-4">
      <table class="table table-compact w-full px-4">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Perishable</th>
            <th>Weight</th>
            <th>EAN</th>
          </tr>
        </thead>
        <tbody>
          {% for x in product_qs_today %}
          <tr>
            <th>{{ x.name }}</th>
            <td>{{ x.brand }}</td>
            <td>{{ x.category_list.0 }},{{ x.category_list.1 }}</td>
            <td>{{ x.perishable }}</td>
            <td>{{ x.weight }}g</td>
            <td>{{ x.footprint }}per kg</td>
            <td>{{ x.barcode }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
    

<!-- Bottom Nav -->
<div class="btm-nav bg-base-200">
  <button  class="active">
    <i class="fa-solid fa-house"></i>
  </button>
  <button>
    <i class="fa-solid fa-cart-shopping"></i>
  </button>
  <button>
    <i class="fa-solid fa-users"></i>
  </button>
  <button>
    <i class="fa-solid fa-bars"></i>
  </button>
</div>
{% endblock %}