{% extends "layout.html" %}
{% block title %}
Stock out
{% endblock %}
{% block content %}
<div class="flex flex-col space-y-7">
  <!-- Heading -->
  <div class="flex justify-center align-middle text-3xl font-bold pt-3 space-x-2">
    <h1>Towcester</h1>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="cursor-pointer"><i class="fa-solid fa-caret-down fa-sm pt-1"></i></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li class="active"><a>Towcester</a></li>
        <li><a>Roade</a></li>
      </ul>
    </div>
  </div>
  <!-- Content -->
  <div class="flex justify-center">
    <!-- Image Preview -->
    <div class="card card-side bg-base-200 shadow-2xl w-96 flex justify-center">
      <div class="h-44 w-48 pl-5">
      </div>
      <div class="flex flex-col items-center space-y-2 p-7">
        <h3 class="card-title">Real time image preview for barcode reading</h3>
      </div>
    </div>
  </div>
    <!-- Search -->
    <div class="flex justify-center space-x-7">
      <div class="card bg-base-200 shadow-2xl w-96 flex flex-row justify-center items-center pb-4 px-2">
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="card-title">Manual entry</span>
          </label>
          <div class="flex flex-row items-center space-x-4">
            <input type="number" placeholder="Enter Member ID" class="input input-bordered w-full max-w-xs" />
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Member Info -->
    <div class="flex flex-col justify-center items-center">
      <!-- Stock Card -->
      <div class="avatar">
        <div class="w-24 mask mask-squircle z-10">
          <img src="https://placeimg.com/192/192/people" />
        </div>
      </div>
      <div class="card bg-base-200 shadow-2xl w-96 flex flex-col justify-center items-center pb-4 px-2 pt-10 -mt-7">
        <div class="flex flex-row space-x-4">
          <h1>2016525</h1>
          <h1>First Name</h1>
          <h1>Last Name</h1>
        </div>
      </div>
    </div>
    <!-- Stock List -->
    <div class="flex justify-center space-x-7">
      <div class="card overflow-x-auto bg-base-200 shadow-2xl w-96 pb-4">
        <table class="table table-compact w-full px-4">
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Perishable</th>
              <th>Weight</th>
              <th>EAN</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Product name</th>
              <td>Category</td>
              <td><i class="fa-solid fa-check"></i></td>
              <td>2g</td>
              <td>538192833</td>
            </tr>
            <tr>
              <th>Product name</th>
              <td>Category</td>
              <td><i class="fa-solid fa-xmark"></i></td>
              <td>2g</td>
              <td>538192833</td>
            </tr>
            <tr>
              <th>Product name</th>
              <td>Category</td>
              <td><i class="fa-solid fa-check"></i></td>
              <td>2g</td>
              <td>538192833</td>
            </tr>
            <tr>
              <th>Product name</th>
              <td>Category</td>
              <td><i class="fa-solid fa-xmark"></i></td>
              <td>2g</td>
              <td>538192833</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    

<!-- Bottom Nav -->
<div class="btm-nav bg-base-200">
  <button  class="active">
    <i class="fa-solid fa-house"></i>
  </button>
  <button>
    <i class="fa-solid fa-cart-shopping"></i>
  </button>
  <button>
    <i class="fa-solid fa-users"></i>
  </button>
  <button>
    <i class="fa-solid fa-bars"></i>
  </button>
</div>
{% endblock %}