{% extends "layout.html" %}
{% block title %}
Stock
{% endblock %}
{% block content %}
<div class="flex flex-col space-y-7">
  <!-- Heading -->
  <div class="flex justify-center align-middle text-3xl font-bold pt-3 space-x-2">
    <h1>Towcester</h1>
  </div>
  <!-- Content -->
  <div class="flex justify-center">
    <!-- Stock Card -->
    <div class="card card-side bg-base-200 shadow-2xl w-96 flex justify-center cursor-pointer" onclick="location.href = '/total_stock'">
      <div class="h-44 w-48 pl-5">
        <canvas id="stockPie"></canvas>
      </div>
      <div class="flex flex-col items-center space-y-2 p-7" >
        <h3 class="card-title">Total Stock</h3>
        <p class="card-text text-4xl font-bold">200kg</p>
      </div>
    </div>
  </div>
    <!-- Info Cards -->
    <div class="flex justify-center space-x-7 text-center">
      <div class="card bg-base-200 shadow-2xl w-44 flex justify-center">
        <div class="flex flex-col items-center space-y-2 p-7">
          <h3 class="card-title">Members Collected Today</h3>
          <p class="card-text text-4xl font-bold">22</p>
        </div>
      </div>
      <div class="card bg-base-200 shadow-2xl w-44 flex justify-center">
        <div class="flex flex-col items-center space-y-2 p-7">
          <h3 class="card-title">Stock Removed</h3>
          <p class="card-text text-4xl font-bold">450kg</p>
        </div>
      </div>
    </div>
    <!-- Stock Info Cards -->
    <div class="flex justify-center space-x-7 text-center">
      <div class="card bg-base-200 shadow-2xl w-44 flex justify-center">
        <div class="flex flex-col items-center space-y-2 p-7 cursor-pointer" onclick="location.href = '/scan_in_1'">
          <h3 class="card-title">Stock in</h3>
          <i class="fa-solid fa-down-long"></i>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
      <div class="card bg-base-200 shadow-2xl w-44 flex justify-center">
        <div class="flex flex-col items-center space-y-2 p-7 cursor-pointer" onclick="location.href = '/scan_out_1'">
          <h3 class="card-title">Stock out</h3>
          <i class="fa-solid fa-up-long"></i>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>
    

<!-- Bottom Nav -->
<div class="btm-nav bg-base-200">
  <button  class="active">
    <i class="fa-solid fa-house"></i>
  </button>
  <button>
    <i class="fa-solid fa-cart-shopping"></i>
  </button>
  <button>
    <i class="fa-solid fa-users"></i>
  </button>
  <button>
    <i class="fa-solid fa-bars"></i>
  </button>
</div>
{% endblock %}